<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title>Trouva | Products</title>
  </head>
  <body>
    <% include ../partials/header %>
    <% for (product of products) { %>
      <div class="product" id="<%= product._id %>">
        <h2><%= product.name %></h2>
        <img src="<%= product.image %>">
        <p><%= product.description %></p>
        <p>£ <%= Math.round(product.price / 100).toFixed(2)  %></p>
        <select>
          <% for (collection of collections) { %>
            <option value="<%= collection._id %>"><%= collection.name %></option>
            <% }; %>
        </select>
        <button class="add-to-collection">Add to collection</button>
      </div>
    <% }; %>
    <script src="jQuery.js"></script>
  </body>
</html>
