<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title>Trouva | Products</title>
  </head>
  <body>
    <% include ../partials/header %>
    <section class="hero is-primary">
      <div class="container">
        <h1 class="title is-2">Products</h1>
        <h2 class="subtitle is-5">Find yourself a little something...</h2>
      </div>
    </section>
    <div class="page-content">
      <div class="container">
        <div class="columns is-multiline">
          <% for (product of products) { %>
            <div class="column is-one-quarter">
              <div class="card">
                <div class="card-content" id="<%= product._id %>">
                  <div class="product-title">
                    <h1 class="title is-5"><%= product.name %></h1>
                  </div>
                  <figure class="image is-3by2">
                    <img class="product-image" src="<%= product.image %>">
                  </figure>
                  <div class="product-description-container">
                    <% if (product.description.length > 100) { %>
                      <p class="product-description"><%= product.description.substring(0, 98) + '...' %></p>
                    <% } else { %>
                      <p class="product-description"><%= product.description %></p>
                    <% }; %>
                  </div>
                  <p class="product-price">£ <%= Math.round(product.price / 100).toFixed(2)  %></p>
                  <div class="select is-primary">
                    <select>
                      <option value="" disabled selected hidden>Choose a collection</option>
                      <% for (collection of collections) { %>
                        <option value="<%= collection._id %>"><%= collection.name %></option>
                        <% }; %>
                      </select>
                  </div>
                  <button class="button add-to-collection">Add</button>
                </div>
              </div>
            </div>
          <% }; %>
        </div>
      </div>
    </div>
    <script src="jQuery.js"></script>
  </body>
</html>
