<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title>Trouva | Products</title>
  </head>
  <body>
    <% include ../partials/header %>
    <h2 class="page-title">Products</h2>
    <% for (product of products) { %>
      <div class="card product" id="<%= product._id %>">
        <div class="card-content">
          <h2 class="product-name"><%= product.name %></h2>
          <figure class="image is-128x128">
            <img class="product-image" src="<%= product.image %>">
          </figure>
          <p class="product-description"><%= product.description %></p>
          <p class="product-price">£ <%= Math.round(product.price / 100).toFixed(2)  %></p>
          <select class="select-collection">
            <% for (collection of collections) { %>
              <option value="<%= collection._id %>"><%= collection.name %></option>
              <% }; %>
            </select>
            <button class="add-to-collection">Add to collection</button>
        </div>
      </div>
    <% }; %>
    <script src="jQuery.js"></script>
  </body>
</html>
