<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title>Trouva | Products</title>
  </head>
  <body>
    <% include ../partials.header %>
    <% products.forEach(function(product) { %>
      <div class="product" id="<%= product.id %>">
        <h2><%= product.name %></h2>
        <img src="<%= product.image %>">
        <p><%= product.description %></p>
        <p>£ <%= Math.round(product.price / 100).toFixed(2)  %></p>
      </div>
    <% }); %>
  </body>
</html>
